---
import DashboardLayout from "../layouts/DashboardLayout.astro";

const tracks = [
  { id: 0, student_name: "Ana García", university_code: "2021001", company: "Tech Solutions", status: "En Progreso", start_date: "15/03/2024" },
  { id: 1, student_name: "Carlos Pérez", university_code: "2020050", company: "Innovatech", status: "Pendiente Docs", start_date: "01/04/2024" },
  { id: 2, student_name: "María López", university_code: "2021003", company: "Global Corp", status: "Completado", start_date: "25/03/2024" },
  { id: 3, student_name: "Carlos Fernández", university_code: "2021004", company: "Tech Innovators", status: "En Progreso", start_date: "30/03/2024" },
];
---

<DashboardLayout>
<h1>hello</h1>
</DashboardLayout>