<header class="site-header">
    <nav class="main-nav">
      <ul>
        <li><a href="/">Seguimiento General</a></li>
        <li><a href="/student-view">Vista Estudiante</a></li>
      </ul>
    </nav>
  </header>