---
import "../styles/main.scss";
import Header from "../components/Header.astro";
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="description"
      content="Practicas pre profesionales - Prototipo"
    />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>PPP | Prototype</title>
  </head>
  <body>
    <Header />
    <slot />
  </body>
</html>
