---
import "../styles/main.scss";
import Header from "../components/Header.astro";
import BaseLayout from "./BaseLayout.astro";
---
<BaseLayout title="Dashboard">
    <Header />
    <main class="dashboard">
        <slot />
    </main>
</BaseLayout>